html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
html body {
  margin: 10px;
  padding: 0;
  height: 100%;
  position: relative;
  background-color: #DDD;
}
html body #stage-container {
  width: 100%;
  height: 100%;
  display: table;
}
html body #stage-container #stage {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: Arial;
}
html body #stage-container #stage:hover {
  cursor: pointer;
  background: #00FF00;
}
html body #presentation-container {
  display: none;
}
html body #presentation-container .slide {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0px;
  max-width: 960px;
  height: 0px;
  overflow: hidden;
  background-color: #FFF;
  border: none;
  box-shadow: none;
  -moz-transition: 1s opacity;
  -webkit-transition: 1s opacity;
  -o-transition: 1s opacity;
  transition: 1s opacity;
  opacity: 0;
  filter: alpha(opacity=0);
}
html body #presentation-container .slide.visible {
  padding: 25px 50px;
  height: auto;
  min-height: 90%;
  border: 1px solid #FFF;
  box-shadow: 0px 0px 5px #888;
  opacity: 1;
  filter: alpha(opacity=1);
}
html body.presentation-mode #stage-container {
  display: none;
}
html body.presentation-mode #presentation-container {
  display: block;
}
@media print {
  html {
    height: auto;
  }
  html body {
    height: auto;
    background-color: transparent;
  }
  html body #presentation-container .slide {
    height: auto;
    opacity: 1;
    filter: alpha(opacity=1);
  }
  html body #presentation-container .slide:last-child {
    height: 0px;
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
