html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
html body {
  margin: 10px;
  padding: 0;
  height: 100%;
  position: relative;
  background-color: #DDD;
}
html body #stage-container {
  width: 100%;
  height: 100%;
  display: table;
}
html body #stage-container #stage {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: Arial;
}
html body #stage-container #stage:hover {
  cursor: pointer;
  background: #00FF00;
}
html body #presentation-container {
  display: none;
}
html body #presentation-container #presentation .slide {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0px;
  max-width: 960px;
  height: 0px;
  overflow: hidden;
  background-color: #FFF;
  border: none;
  box-shadow: none;
  -moz-transition: 1s opacity;
  -webkit-transition: 1s opacity;
  -o-transition: 1s opacity;
  transition: 1s opacity;
  opacity: 0;
  filter: alpha(opacity=0);
}
html body #presentation-container #presentation .slide.visible {
  padding: 25px 50px;
  height: auto;
  min-height: 90%;
  border: 1px solid #FFF;
  box-shadow: 0px 0px 5px #888;
  opacity: 1;
  filter: alpha(opacity=1);
}
html body #presentation-container #presentation .footer {
  border-top: 1px solid #000;
  display: none;
  text-align: center;
}
html body #presentation-container #soft-edge {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 0px;
  padding-top: 10px;
}
html body #presentation-container #soft-edge #overlays {
  position: relative;
  width: 100%;
  height: 100px;
  margin-top: 20px;
  background-color: Black;
  opacity: 0.7;
  filter: alpha(opacity=0.7);
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  box-shadow: 0px 0px 20px Black;
}
html body #presentation-container #soft-edge #overlays #presentation-progress-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
html body #presentation-container #soft-edge #overlays #presentation-progress-overlay #presentation-progress-bar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0%;
  height: 100%;
  background-color: Green;
  opacity: 0.5;
  filter: alpha(opacity=0.5);
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
html body #presentation-container #soft-edge #overlays #presentation-progress-overlay #presentation-progress-text-container {
  display: table;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
html body #presentation-container #soft-edge #overlays #presentation-progress-overlay #presentation-progress-text-container #presentation-progress-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: White;
}
html body #presentation-container #soft-edge:hover #overlays {
  margin-top: -100px;
}
html body.presentation-mode #stage-container {
  display: none;
}
html body.presentation-mode #presentation-container {
  display: block;
}
@media print {
  html {
    height: auto;
  }
  html body {
    height: auto;
    background-color: transparent;
  }
  html body #presentation-container #presentation .slide {
    height: auto;
    opacity: 1;
    filter: alpha(opacity=1);
  }
  html body #presentation-container #presentation .slide.last-slide {
    height: 0px;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  html body #presentation-container #presentation .footer {
    display: inherit;
  }
  html body #presentation-container #soft-edge {
    display: none;
  }
}
